{% extends 'main.html.twig' %}

{% block content %}

    <br />
    {{ form_start(team_form, {'action' : path('team_edit')}) }}
    {{ form_widget(team_form) }}

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" id="team_save" class="btn-primary btn">{% trans %}Save{% endtrans %}</button>
        </div>
    </div>
    {{ form_end(team_form) }}

    <script>
        jQuery( document ).ready(function() {

        });
    </script>

{% endblock %}

