{# app/Resources/views/user/login.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('competition')}}">{% trans %}Competition{% endtrans %}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('team')}}">{% trans %}Team{% endtrans %}</a></li>
                    <li><a href="{{ path('group')}}">{% trans %}Group{% endtrans %}</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-12">

            {% block content %}{% endblock %}

        </div>
    </div>
</div>

{% endblock %}